<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {
    title: 'Задати новий пароль',
    }); %>

<body>
    <%- include('../partials/navbar', { activePage: '' }); %>

    <div class="container">
        <div class="auth">
            <div class="row">

                <div class="col s6 offset-s3">
                    <% if (error.length) { %>
                    <p class="alert"><%= error %> </p>
                    <% } %>
                    <h4>Задати новий пароль</h4>
                    <form action="/auth/password" method="POST">
                        <div class="input-field ">
                            <input placeholder="password" id="password" name="password" type="text" class="validate"
                                required>
                            <label for="password">Пароль</label>
                            <span class="helper-text" data-error="Введіть Пароль"></span>
                        </div>


                        <input type="hidden" name="_csrf" value="<%= csrf %>">
                        <input type="hidden" name="userId" value="<%= userId %>">
                        <input type="hidden" name="token" value="<%= token %>">

                        <button type="submit" class="btn btn-primaty">Задати</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('../partials/footer'); %>

</html>