<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Courses App</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="<%=  activePage === 'home' ? 'active' : '' %>">
                <a href="/">Головна</a>
            </li>
            <li class="<%=  activePage === 'courses' ? 'active' : '' %>">
                <a href="/courses">Курси</a>
            </li>
            <% if (isAuth) { %>
            <li class="<%=  activePage === 'profile' ? 'active' : '' %>">
                <a href="/profile">Профіль</a>
            </li>
            <li class="<%=  activePage === 'add' ? 'active' : '' %>">
                <a href="/add">Додати курс</a>
            </li>
            <li class="<%=  activePage === 'card' ? 'active' : '' %>">
                <a href="/card">Корзина</a>
            </li>
            <li class="<%=  activePage === 'orders' ? 'active' : '' %>">
                <a href="/orders">Мої замовлення</a>
            </li>
            <li>
                <a href="/auth/logout">Вийти</a>
            </li>
            <% }else{ %>
            <li class="<%=  activePage === 'login' ? 'active' : '' %>">
                <a href="/auth/login#login">Увійти</a>
            </li>
            <% }%>
        </ul>
    </div>
</nav>