<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {
        title: 'Корзина',
    }); %>

<body>
    <%- include('./partials/navbar',{
        activePage: 'card'
        }); %>
    <div class="container">

        <h1>Корзина</h1>
        <div id="card">
            <% if (courses.length) { %>

            <table>
                <thead>
                    <tr>
                        <th>Назва</th>
                        <th>Кількість</th>
                        <th>Дія</th>
                    </tr>
                </thead>
                <tbody>
                    <% courses.forEach(function(course){ %>
                    <tr>
                        <td><%= course.title %></td>
                        <td><%= course.count %></td>
                        <td>
                            <button class="btn btn-small" id="courseRemoove" data-id="<%= course.id %>"
                                data-csrf="<%= csrf %>" onclick="removeFromCard(event)">Видалити</button>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>

            <p>
                <strong>Ціна: </strong>
                <span class="price"><%= price %></span>
            </p>

            <form action="/orders" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrf %>">

                <button type="submit" class="btn">
                    Зробити замовлення
                </button>
            </form>

            <% }else{ %>
            <p>Корзина пуста</p>
            <% } %>
        </div>
    </div>
</body>
<script type="text/javascript" src="/removeCard.js"></script>
<script type="text/javascript" src="/price.js"></script>
<%- include('./partials/footer'); %>


</html>