<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {
        title: 'Курси',
    }); %>

<body>
    <%- include('./partials/navbar',{
        activePage: 'courses'
    }); %>

    <div class="container">
        <h1>
            Курси
        </h1>

        <% if (courses.length) { %>
        <% courses.forEach(function(course){ %>
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= course.img %>" alt="<%= course.title %>">
                    </div>
                    <div class="card-content">
                        <span class="card-title"><%= course.title %></span>
                        <p class="price"><%= course.price %></p>
                    </div>
                    <div class="card-action actions">
                        <a href="/courses/<%= course.id %>">Відкрити курс</a>
                        <a href="/courses/<%= course.id %>/edit?allow=true">Редагувати курс</a>
                        <form action="/card/add" method="POST">
                            <input type="hidden" name="id" value=<%= course.id %>>
                            <button type="submit" class="btn btn-primary">
                                Купити
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
        <% }else{ %>
        <p>Курсів поки що нема</p>
        <% } %>




    </div>
</body>
<script type="text/javascript" src="/price.js"></script>
<%- include('./partials/footer'); %>


</html>